extends layout.pug
block title
  div
    h1 Welcome back to the subreddit menu!
block content
  button(value="Create a subreddit", onclick="window.location ='https://reddit-nodejs-api-project-kitchdev.c9users.io/createContent'") Create a subreddit?
    a(href='/')
      button(type="submit") Home
  ul.post-list
    each post in posts
      li
        h2
          a(href='/r/' + post.subreddits_name + '/Newest') #{post.subreddits_name}
            
        p #{post.subreddits_description}
block foot
    
          